node_modules/
build/
.next/
out/
dist/
dist-*/
server-dist/
electron-dist/
renderer-dist/
data/*.db
data/*.db-journal
public/uploads/*
!public/uploads/.gitkeep
logs/*.log
*.log
.env
.env.local
.env.production
*.tsbuildinfo
